<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="../static/css/login-page.css" th:href="@{css/login-page.css}"
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:text="#{login.title}">Title</div>
        <form action="#" th:action="@{/login-page.html}" th:method="POST">
            <input type="text" th:placeholder="#{login.username.label}"/></br>
            <input type="text" th:placeholder="#{login.password.label}"/></br>
            <a href="/financial-page.html" class="btn btn-default">TestFinance</a>
            <input type="submit" th:value="#{button.cancel}"/>
        </form>
    </body>
</html>
